export(setSimHorizon, 
       buildTransitionMatrix, 
       micSim, 
       micSimParallel, 
       convertToLongFormat, 
       convertToWideFormat)

importFrom(chron, chron, years, days, dates)
importFrom(snowfall, sfInit, sfLibrary, sfExportAll, sfClusterSetupRNGstream, sfLapply, sfStop)
import(rlecuyer)


